# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
.cache/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env.supabase
.env.google.template
supabase.exe
supabase_windows_amd64.tar.gz

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android
.eas/keys/*.json
eas-sumit.json
gen-lang-client-0336445544-fc3b036c6e41.json
